# airflow ğŸ¤¦â€â™€ï¸

In [ ]:
from airflow import DAG
from airflow.providers.mysql.hooks.mysql import MySqlHook
from airflow.operators.python import PythonOperator
from datetime import datetime

# MySQLì—ì„œ ë°ì´í„°ë¥¼ ê°€ì ¸ì˜¤ëŠ” í•¨ìˆ˜ ì •ì˜
def fetch_mysql_data(**kwargs):
    # Airflowì˜ MySqlHookì„ ì‚¬ìš©í•´ ì—°ê²° ì„¤ì • (Conn Idë¥¼ ì‚¬ìš©)
    mysql_hook = MySqlHook(mysql_conn_id='mysql_default')  # Conn IdëŠ” Airflow UIì—ì„œ ì„¤ì •í•œ ê°’
    
    # SQL ì¿¼ë¦¬ ì‹¤í–‰ (ì˜ˆì‹œ: íŠ¹ì • í…Œì´ë¸” ë°ì´í„°ë¥¼ ê°€ì ¸ì˜´)
    sql_query = "SELECT * FROM your_table_name;"  # ì‹¤ì œ í…Œì´ë¸” ì´ë¦„ìœ¼ë¡œ ë³€ê²½
    connection = mysql_hook.get_conn()
    cursor = connection.cursor()
    cursor.execute(sql_query)
    
    # ê²°ê³¼ ê°€ì ¸ì˜¤ê¸°
    result = cursor.fetchall()
    print("Fetched Data:", result)
    
    # ê²°ê³¼ë¥¼ XComì— ì €ì¥í•˜ì—¬ ë‹¤ë¥¸ íƒœìŠ¤í¬ì™€ ê³µìœ  ê°€ëŠ¥
    kwargs['ti'].xcom_push(key='mysql_data', value=result)

# DAG ì •ì˜
with DAG(
    dag_id='mysql_to_python_dag',  # DAG ì´ë¦„ (Airflow UIì—ì„œ í‘œì‹œë¨)
    start_date=datetime(2023, 1, 1),  # DAG ì‹œì‘ ë‚ ì§œ
    schedule_interval=None,  # ìˆ˜ë™ ì‹¤í–‰ (ìŠ¤ì¼€ì¤„ ì—†ìŒ)
    catchup=False,  # ê³¼ê±° ë‚ ì§œì˜ ì‹¤í–‰ ë°©ì§€
) as dag:

    # PythonOperatorë¥¼ ì‚¬ìš©í•´ fetch_mysql_data í•¨ìˆ˜ ì‹¤í–‰
    fetch_data_task = PythonOperator(
        task_id='fetch_mysql_data',  # íƒœìŠ¤í¬ ì´ë¦„ (Airflow UIì—ì„œ í‘œì‹œë¨)
        python_callable=fetch_mysql_data,  # ì‹¤í–‰í•  í•¨ìˆ˜
        provide_context=True,  # XCom ë° ì»¨í…ìŠ¤íŠ¸ ì‚¬ìš© ê°€ëŠ¥í•˜ê²Œ ì„¤ì •
    )

fetch_data_task  # íƒœìŠ¤í¬ ë“±ë¡

# ì›ì¬ë£Œ ğŸ‘€

In [ ]:
import mysql.connector
from mysql.connector import Error
import pandas as pd

def fetch_data_from_mysql():
    try:
        # MySQL ë°ì´í„°ë² ì´ìŠ¤ ì—°ê²° ì„¤ì •
        connection = mysql.connector.connect(
            host='192.168.0.163',
            user='root',  # MySQL ì‚¬ìš©ì ì´ë¦„
            password='andong1234',  # MySQL ë¹„ë°€ë²ˆí˜¸
            database='analysis'  # ì‚¬ìš©í•  ë°ì´í„°ë² ì´ìŠ¤ ì´ë¦„
        )

        if connection.is_connected():
            print("MySQLì— ì„±ê³µì ìœ¼ë¡œ ì—°ê²°ë˜ì—ˆìŠµë‹ˆë‹¤.")

            # ì»¤ì„œ ìƒì„±
            cursor = connection.cursor()

            # ì‹¤í–‰í•  SQL ì¿¼ë¦¬ ì •ì˜
            sql_query = "SELECT * FROM ods_one;"  # í…Œì´ë¸” ì´ë¦„ì„ ì‹¤ì œë¡œ ë³€ê²½í•˜ì„¸ìš”.

            # ì¿¼ë¦¬ ì‹¤í–‰ ë° ê²°ê³¼ ê°€ì ¸ì˜¤ê¸°
            cursor.execute(sql_query)
            records = cursor.fetchall()  # ë°ì´í„° ê°€ì ¸ì˜¤ê¸°
            columns = [i[0] for i in cursor.description]  # ì»¬ëŸ¼ ì´ë¦„ ê°€ì ¸ì˜¤ê¸°

            # ê²°ê³¼ë¥¼ Pandas DataFrameìœ¼ë¡œ ë³€í™˜
            df = pd.DataFrame(records, columns=columns)

            print(f"ì´ {cursor.rowcount}ê°œì˜ í–‰ì„ ê°€ì ¸ì™”ìŠµë‹ˆë‹¤.")
            print(df)  # DataFrame ì¶œë ¥

            return df  # DataFrame ë°˜í™˜

    except Error as e:
        print(f"MySQLì—ì„œ ë°ì´í„°ë¥¼ ê°€ì ¸ì˜¤ëŠ” ì¤‘ ì˜¤ë¥˜ê°€ ë°œìƒí–ˆìŠµë‹ˆë‹¤: {e}")
    finally:
        if connection.is_connected():
            cursor.close()
            connection.close()
            print("MySQL ì—°ê²°ì´ ë‹«í˜”ìŠµë‹ˆë‹¤.")

# í•¨ìˆ˜ ì‹¤í–‰
one_df = fetch_data_from_mysql()

MySQLì— ì„±ê³µì ìœ¼ë¡œ ì—°ê²°ë˜ì—ˆìŠµë‹ˆë‹¤.
ì´ 977ê°œì˜ í–‰ì„ ê°€ì ¸ì™”ìŠµë‹ˆë‹¤.
     one_id one_name one_price    one_date
0       647        ì²     117.05  2023-01-02
1       757      ìœ ì—°íƒ„    151.00  2023-01-02
2       866       ê·œì†Œ   2640.00  2023-01-02
3       977       í¬ë¡¬      2.85  2023-01-02
4       536     ì•Œë£¨ë¯¸ëŠ„   2337.50  2023-01-03
..      ...      ...       ...         ...
972     758       ê·œì†Œ   1545.00  2025-02-10
973     867       í¬ë¡¬      1.53  2025-02-10
974       3     ì•Œë£¨ë¯¸ëŠ„   2647.00  2025-02-11
975       2     ì•Œë£¨ë¯¸ëŠ„   2628.50  2025-02-12
976       1     ì•Œë£¨ë¯¸ëŠ„   2627.00  2025-02-13

[977 rows x 4 columns]
MySQL ì—°ê²°ì´ ë‹«í˜”ìŠµë‹ˆë‹¤.

In [13]:
one_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 977 entries, 0 to 976
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   one_id     977 non-null    int64
 1   one_name   977 non-null    object
 2   one_price  977 non-null    object
 3   one_date   977 non-null    object
dtypes: int64(1), object(3)
memory usage: 30.7+ KB

In [15]:
one_df['one_date'] = pd.to_datetime(one_df['one_date'])

one_df['MoM'] = one_df.groupby('one_name')['one_price'].pct_change() * 100

one_df

     one_id one_name one_price   one_date                              MoM
0       647        ì²     117.05 2023-01-02                              NaN
1       757      ìœ ì—°íƒ„    151.00 2023-01-02                              NaN
2       866       ê·œì†Œ   2640.00 2023-01-02                              NaN
3       977       í¬ë¡¬      2.85 2023-01-02                              NaN
4       536     ì•Œë£¨ë¯¸ëŠ„   2337.50 2023-01-03                              NaN
..      ...      ...       ...        ...                              ...
972     758       ê·œì†Œ   1545.00 2025-02-10                                0
973     867       í¬ë¡¬      1.53 2025-02-10                             2.00
974       3     ì•Œë£¨ë¯¸ëŠ„   2647.00 2025-02-11    0.265151515151515151515151500
975       2     ì•Œë£¨ë¯¸ëŠ„   2628.50 2025-02-12  -0.6989044200982244049867774800
976       1     ì•Œë£¨ë¯¸ëŠ„   2627.00 2025-02-13  -0.0570667681186988776868936700

[977 rows x 5 columns]

# ìë™ì°¨ ğŸš—

In [ ]:
import mysql.connector
from mysql.connector import Error
import pandas as pd

def fetch_data_from_mysql():
    try:
        # MySQL ë°ì´í„°ë² ì´ìŠ¤ ì—°ê²° ì„¤ì •
        connection = mysql.connector.connect(
            host='192.168.0.163',
            user='root',  # MySQL ì‚¬ìš©ì ì´ë¦„
            password='andong1234',  # MySQL ë¹„ë°€ë²ˆí˜¸
            database='analysis'  # ì‚¬ìš©í•  ë°ì´í„°ë² ì´ìŠ¤ ì´ë¦„
        )

        if connection.is_connected():
            print("MySQLì— ì„±ê³µì ìœ¼ë¡œ ì—°ê²°ë˜ì—ˆìŠµë‹ˆë‹¤.")

            # ì»¤ì„œ ìƒì„±
            cursor = connection.cursor()

            # ì‹¤í–‰í•  SQL ì¿¼ë¦¬ ì •ì˜
            sql_query = "SELECT * FROM ods_car;"

            # ì¿¼ë¦¬ ì‹¤í–‰ ë° ê²°ê³¼ ê°€ì ¸ì˜¤ê¸°
            cursor.execute(sql_query)
            records = cursor.fetchall()  # ë°ì´í„° ê°€ì ¸ì˜¤ê¸°
            columns = [i[0] for i in cursor.description]  # ì»¬ëŸ¼ ì´ë¦„ ê°€ì ¸ì˜¤ê¸°

            # ê²°ê³¼ë¥¼ Pandas DataFrameìœ¼ë¡œ ë³€í™˜
            df = pd.DataFrame(records, columns=columns)

            print(f"ì´ {cursor.rowcount}ê°œì˜ í–‰ì„ ê°€ì ¸ì™”ìŠµë‹ˆë‹¤.")
            print(df)  # DataFrame ì¶œë ¥

            return df  # DataFrame ë°˜í™˜

    except Error as e:
        print(f"MySQLì—ì„œ ë°ì´í„°ë¥¼ ê°€ì ¸ì˜¤ëŠ” ì¤‘ ì˜¤ë¥˜ê°€ ë°œìƒí–ˆìŠµë‹ˆë‹¤: {e}")
    finally:
        if connection.is_connected():
            cursor.close()
            connection.close()
            print("MySQL ì—°ê²°ì´ ë‹«í˜”ìŠµë‹ˆë‹¤.")

# í•¨ìˆ˜ ì‹¤í–‰
car_df = fetch_data_from_mysql()